@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap");
@import url("./table.scss");
* {
  font-family: "Roboto", "sans-serif";
}

html, body {
  margin: 0;
  background-color: #f5f5fb;
}

.app .nav {
  background-color: #fefefe;
  position: fixed;
  height: 100%;
  width: 4.7vw;
  overflow: auto;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.app .nav .before {
  margin: 0;
  padding: 0;
}

.app .nav .before li, .app .nav .before a {
  margin-top: 0.7vh;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  padding: 3px 6px;
  color: black;
}

.app .nav .before li a:hover {
  background-color: white;
  /* color                   : white; */
}

.app .nav .after {
  display: none;
  margin: 0;
  padding: 0;
}

.app .nav .after li, .app .nav .after a {
  margin-top: 0.7vh;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  padding: 3px 6px;
}

.app .nav .after .search-content .searchInput {
  width: 90px;
}

.app .nav .after li a:hover {
  background-color: grey;
  /* color                   : white; */
}

.app .nav:hover {
  width: 10vw;
  /* background-color                : opacify($color: #21222246, $amount: 0); */
}

.app .nav:hover .before {
  display: none;
}

.app .nav:hover .after {
  display: inline;
}

.app .nav:hover .after a {
  color: white;
}

.app .home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  /* Flexbox || Modal*/
}

.app .home-content .student-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2vh;
}

.app .home-content .student-form label {
  font-size: 0.9rem;
}

.app .home-content .student-form .personal-info {
  background-color: #fefefe;
  -webkit-box-shadow: 0 2px 4px 0 #00000033;
          box-shadow: 0 2px 4px 0 #00000033;
  padding: 7%;
}

.app .home-content .student-form .personal-info .input-groups {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .home-content .student-form .personal-info .input-groups input {
  width: 16vw;
  height: 3.6vh;
}

.app .home-content .student-form .personal-info .submit-btn {
  margin-top: 2.3vh;
  background-color: #1a9af0;
  border: none;
  width: 210px;
  height: 29px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 6px;
}

.app .home-content .reqError {
  padding: 0.3vh;
  color: red;
  font-size: 0.8rem;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.app .home-content .table {
  margin-left: 2vw;
}

.app .home-content .table .table {
  margin: 2vh;
  background-color: #f5f5fb;
  -webkit-box-shadow: 0 2px 4px 0 #00000033;
          box-shadow: 0 2px 4px 0 #00000033;
}

.app .home-content .table .table .header {
  border-top-left-radius: 10px;
  background-color: #fefefe;
  height: 8vh;
  position: relative;
  width: 68vw;
  border-bottom: solid 1px #837d7daf;
}

.app .home-content .table .table .header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2vh;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
  /* .filterTitle{ border-right: solid 1px #8f8f8f81; } */
}

.app .home-content .table .table .header ul li {
  padding: 10px 26px;
  list-style-type: none;
  float: left;
}

.app .home-content .table .table .header ul .search-content input {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  border: 1px #000280 solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.app .home-content .table .table .header ul .search-content input:focus {
  border: 1px #353635 solid;
}

.app .home-content .table .table .table-content {
  border-spacing: 0px 0px;
  width: 100%;
  text-align: center;
}

.app .home-content .table .table .table-content .table-header {
  font-size: 0.9rem;
  height: 50px;
  font-weight: 600;
  background-color: #fefefe;
  border-bottom: #837d7daf 1px solid;
}

.app .home-content .table .table .table-content .data {
  font-size: 13px;
}

.app .home-content .table .table .table-content .data td {
  background-color: #fefefe;
  padding: 4.3vh;
  border-bottom: #837d7daf 1px solid;
}

.app .home-content .table .table .table-content .data .action:hover {
  background-color: #dad2d285;
  border-radius: 11px;
}

.app .home-content .table .table .table-content .data .dropdown {
  position: relative;
  display: inline-block;
}

.app .home-content .table .table .table-content .data .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  -webkit-box-shadow: 0px 8px 16px 0px #00000033;
          box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.app .home-content .table .table .table-content .data .dropdown .dropdown-content li {
  list-style-type: none;
  margin-left: 1vw;
  font-weight: 600;
}

.app .home-content .table .table .table-content .data .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.app .home-content .table .table .table-content .data .dropdown .dropdown-content a:hover {
  background-color: grey;
  color: white;
}

.app .home-content .table .table .table-content .data .dropdown svg:hover {
  background-color: #808080b4;
}

.app .home-content .table .table .table-content .data .dropdown:hover .dropdown-content {
  display: block;
}

.app .home-content .table .table .loading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fefefe;
}

.app .home-content .table .table .loading .spinner {
  margin-top: 10vh;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 650px) {
  .app .home-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=app.css.map */