$color-1                            : #fefefe;
$color-2                            : #f5f5fb;
$color-3                            : black;

@import url("./table.scss");
@mixin buttonSuccess {
    background-color: rgb(26, 154, 240);
    border: none;
    width: 210px;
    height: 29px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
}

@mixin errorMessage {
    padding: 0.3vh;
    color: red;
    font-size: 0.8rem;
    transition: 1.5s;
}

 /* Flexbox || Modal*/
 .student-form{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    label{
        font-size: 0.9rem;
    }
    .personal-info {
        background-color:$color-1;
        padding: 7%;
        .input-groups{
            flex: 1;
            display: flex;
            margin-top: 14px;
            flex-direction: column;
            input{
                width: 16vw;
                height: 3.6vh;
            }
        }
        .submit-btn{
            margin-top: 2.3vh;
            @include buttonSuccess();
        }
 }
}

.reqError{
    @include errorMessage();
}
