$color-1                            : #fefefe;
$color-2                            : #f5f5fb;
$color-3                            : black;
$color-4                            : #3a3737fd;

.nav{
    background-color                : $color-3;
    position                        : fixed;
    height                          : 100%;
    width                           : 4.7vw;
    overflow                        : auto;
    padding                         : 0;
    margin                          : 0;
    transition                      : 0.5s;

    .before {
        margin                      : 0;
        padding                     : 0;
        li, a {
            margin-top              : 0.7vh;
            text-align              : center;
            text-decoration         : none;
            font-size               : 0.8rem;
            font-weight             : bold;
            display                 : block;
            padding                 : 3px 6px;
            color                   : $color-3;
        }
    
        li a:hover {
            background-color        : #ffffff;
            /* color                   : white; */
        }
    }

    .after{
        display: none;
        margin                      : 0;
        padding                     : 0;

        li, a {
            margin-top              : 0.7vh;
            text-align              : center;
            text-decoration         : none;
            font-size               : 0.8rem;
            font-weight             : bold;
            display                 : block;
            padding                 : 3px 6px;
        }

        .search-content{
            .searchInput{
                width: 90px;
            }
        }
    
        li a:hover {
            background-color        : grey;
        }
    }
}

.nav:hover{
    width                           : 10vw;
    /* background-color                : opacify($color: #21222246, $amount: 0); */
    
    .before{
        display                     : none;
    }
    .after{
        display                     : inline;
        a{
            color                   : white;
        }
    }
}