.home-content{
    display: flex;
    //flex-wrap: wrap;
    //--gap: 90px;
    flex-direction: row;
    justify-content: center;
}

.home-content > div {
    padding: 20px;
    margin: 10px;
}

.card1, .card2, .card3{
    //flex: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 40%;
    p{
        font-weight: 700;
    }
}

.card1{
    background: #0a9b0a;
}

.card2{
    background: #1d90d3;
}

.card3{
    background: #dcdf3b;
}